<div>
    <h2 id="page-heading">
        <span jhiTranslate="clinicaAdaptrojhApp.funcionario.home.title">Funcionarios</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-funcionario" [routerLink]="['/funcionario/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="clinicaAdaptrojhApp.funcionario.home.createLabel">
            Create a new Funcionario
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="funcionarios?.length === 0">
        <span jhiTranslate="clinicaAdaptrojhApp.funcionario.home.notFound">No funcionarios found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="funcionarios && funcionarios.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th class="align-middle text-center" scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="align-middle text-center" scope="col"  jhiSortBy="nomeCompleto"><span jhiTranslate="clinicaAdaptrojhApp.funcionario.nomeCompleto">Nome Completo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="align-middle text-center" scope="col"  jhiSortBy="telefone1"><span jhiTranslate="clinicaAdaptrojhApp.funcionario.telefone1">Telefone 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="align-middle text-center" scope="col"  jhiSortBy="funcao"><span jhiTranslate="clinicaAdaptrojhApp.funcionario.funcao">Funcao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="align-middle text-center" scope="col"  jhiSortBy="especialidadeSaude.descricao"><span jhiTranslate="clinicaAdaptrojhApp.funcionario.especialidadeSaude">Especialidade Saude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="align-middle text-center" scope="col"  jhiSortBy="user.login"><span jhiTranslate="clinicaAdaptrojhApp.funcionario.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let funcionario of funcionarios ;trackBy: trackId">
                    <td class="align-middle text-center"><a [routerLink]="['/funcionario', funcionario.id, 'view']">{{ funcionario.id }}</a></td>
                    <td>{{ funcionario.nomeCompleto }}</td>
                    <td class="align-middle text-center">{{ funcionario.telefone1 | telefone }} <br> {{ funcionario.telefone2 | telefone }}</td>
                    <td class="align-middle text-center" jhiTranslate="{{ 'clinicaAdaptrojhApp.CategoriaFuncionario.' + funcionario.funcao }}">{{ funcionario.funcao }}</td>
                    <td class="align-middle text-center">{{ funcionario.especialidadeSaude?.sigla }}</td>

                    <td>
                        {{ funcionario.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/funcionario', funcionario.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/funcionario', funcionario.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(funcionario)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="funcionarios && funcionarios.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
