<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="especialidadeSaude">
            <h2><span jhiTranslate="clinicaAdaptrojhApp.especialidadeSaude.detail.title">Especialidade Saude</span> {{ especialidadeSaude.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="clinicaAdaptrojhApp.especialidadeSaude.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ especialidadeSaude.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="clinicaAdaptrojhApp.especialidadeSaude.sigla">Sigla</span></dt>
                <dd>
                    <span>{{ especialidadeSaude.sigla }}</span>
                </dd>
                <dt><span jhiTranslate="clinicaAdaptrojhApp.especialidadeSaude.ativo">Ativo</span></dt>
                <dd>
                    <span>{{ especialidadeSaude.ativo }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/especialidade-saude', especialidadeSaude.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
