<div>
    <h2 id="page-heading">
        <span jhiTranslate="clinicaAdaptrojhApp.planoEstrategico.home.title">Plano Estrategicos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plano-estrategico" [routerLink]="['/plano-estrategico/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="clinicaAdaptrojhApp.planoEstrategico.home.createLabel">
            Create a new Plano Estrategico
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="planoEstrategicos?.length === 0">
        <span jhiTranslate="clinicaAdaptrojhApp.planoEstrategico.home.notFound">No planoEstrategicos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="planoEstrategicos && planoEstrategicos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataInicio"><span jhiTranslate="clinicaAdaptrojhApp.planoEstrategico.dataInicio">Data Inicio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataFim"><span jhiTranslate="clinicaAdaptrojhApp.planoEstrategico.dataFim">Data Fim</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="detalhamento"><span jhiTranslate="clinicaAdaptrojhApp.planoEstrategico.detalhamento">Detalhamento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dataHoraCadastro"><span jhiTranslate="clinicaAdaptrojhApp.planoEstrategico.dataHoraCadastro">Data Hora Cadastro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="user.login"><span jhiTranslate="clinicaAdaptrojhApp.planoEstrategico.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cliente.nomeCompleto"><span jhiTranslate="clinicaAdaptrojhApp.planoEstrategico.cliente">Cliente</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let planoEstrategico of planoEstrategicos ;trackBy: trackId">
                    <td><a [routerLink]="['/plano-estrategico', planoEstrategico.id, 'view']">{{ planoEstrategico.id }}</a></td>
                    <td>{{ planoEstrategico.dataInicio | date:'mediumDate' }}</td>
                    <td>{{ planoEstrategico.dataFim | date:'mediumDate' }}</td>
                    <td>{{ planoEstrategico.detalhamento }}</td>
                    <td>{{ planoEstrategico.dataHoraCadastro | date:'medium' }}</td>
                    <td>
                        {{ planoEstrategico.user?.login }}
                    </td>
                    <td>
                        <div *ngIf="planoEstrategico.cliente">
                            <a [routerLink]="['/cliente', planoEstrategico.cliente?.id, 'view']" >{{ planoEstrategico.cliente?.nomeCompleto }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/plano-estrategico', planoEstrategico.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/plano-estrategico', planoEstrategico.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(planoEstrategico)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
