<div>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <!-- Início formulário de busca -->
        <div class="row">
            <div class="col-sm-6">
                <form class="form-inline" name="searchForm2" novalidate [formGroup]="searchForm" (ngSubmit)="search()">
                    <!-- Search Radio Fields -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchParamRadio" name="searchParamRadio" id="searchParamRadio" value="nomeCompleto" checked>
                        <label class="form-check-label" for="inlineRadio1">Nome/Razão Social</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchParamRadio" name="searchParamRadio" id="cpf" value="cpf">
                        <label class="form-check-label" for="inlineRadio2">CPF</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchParamRadio" name="searchParamRadio" id="rg" value="rg">
                        <label class="form-check-label" for="inlineRadio2">RG</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <label class="form-check-label" for="inlineRadio2">E-mail</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="searchParamCheckAtivo" name="searchParamCheckAtivo" id="inlinecheckbox1" value="ATIVO" checked>
                        <label class="form-check-label" for="inlineRadio3">Ativo</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="searchParamCheckInativo" name="searchParamCheckInativo" id="inlinecheckbox2" value="INATIVO" checked>
                        <label class="form-check-label" for="inlineRadio3">Inativo</label>
                    </div>
                    <!-- currentSearch Input Text Fields -->
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control mr-2" required formControlName="valorBusca" id="valorBusca" name="valorBusca" maxlength="60" placeholder="{{ 'entity.action.searchPlaceholder' | translate }}">
                        <button type="submit" class="input-group-append btn btn-info mr-2" >
                            <fa-icon icon="search"></fa-icon>
                        </button>

                        <button class="btn btn-info mr-2" type="button" (click)="onClear()" jhiTranslate="entity.action.clearSearch" >
                            <fa-icon icon="eraser"></fa-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    <br>
    <br>

    <h2 id="page-heading">
        <span jhiTranslate="clinicaAdaptrojhApp.cliente.home.title">Clientes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente" [routerLink]="['/cliente/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="clinicaAdaptrojhApp.cliente.home.createLabel">
            Create a new Cliente
            </span>
        </button>
    </h2>


    <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
        <span jhiTranslate="clinicaAdaptrojhApp.cliente.home.notFound">No clientes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th class="text-center" scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="tipoCliente"><span jhiTranslate="clinicaAdaptrojhApp.cliente.tipoCliente">Tipo Cliente</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="nomeCompleto"><span jhiTranslate="clinicaAdaptrojhApp.cliente.nomeCompleto">Nome Completo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="foto"><span jhiTranslate="clinicaAdaptrojhApp.cliente.foto">Foto</span> <fa-icon icon="sort"></fa-icon></th>

                    <th class="text-center" scope="col"  jhiSortBy="convenio"><span jhiTranslate="clinicaAdaptrojhApp.cliente.convenio">Convenio</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="telefone1"><span jhiTranslate="clinicaAdaptrojhApp.cliente.telefone1">Telefone 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="email"><span jhiTranslate="clinicaAdaptrojhApp.cliente.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="ativo"><span jhiTranslate="clinicaAdaptrojhApp.cliente.ativo">Ativo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes ;trackBy: trackId">
                    <td class="align-middle text-center"><a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a></td>
                    <td class="align-middle text-center" jhiTranslate="{{ 'clinicaAdaptrojhApp.TipoCliente.' + cliente.tipoCliente }}">{{ cliente.tipoCliente }}</td>
                    <td class="align-middle text-center">{{ cliente.nomeCompleto }}</td>
                    <td class="align-middle text-center">
                        <a *ngIf="cliente.foto" (click)="openFile(cliente.fotoContentType, cliente.foto)">
                            <img [src]="'data:' + cliente.fotoContentType + ';base64,' + cliente.foto" style="max-height: 30px;" alt="cliente image"/>
                        </a>
                    </td>
                    <!-- <td jhiTranslate="{{ 'clinicaAdaptrojhApp.Convenio.' + cliente.convenio }}">{{ cliente.convenio }} </td> -->
                    <td class="align-middle text-center">{{ cliente.convenio }} <br>{{ cliente.numCarteirinhaConvenio }} </td>
                    <td class="align-middle text-center">{{ cliente.telefone1 | telefone }} <br> {{ cliente.telefone2 | telefone }}</td>
                    <td class="align-middle text-center">{{ cliente.email! | lowercase }}</td>
                    <td [style.color]="!cliente.ativo ? 'red' : 'green'" class="align-middle text-center"> {{  this.adaptroUtilsService.getEntityStatus(cliente.ativo!) }} </td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cliente', cliente.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cliente', cliente.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cliente)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>



                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="clientes && clientes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
