<div>
    <h2 id="page-heading">
        <span jhiTranslate="clinicaAdaptrojhApp.fornecedor.home.title">Fornecedors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fornecedor" [routerLink]="['/fornecedor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="clinicaAdaptrojhApp.fornecedor.home.createLabel">
            Create a new Fornecedor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fornecedors?.length === 0">
        <span jhiTranslate="clinicaAdaptrojhApp.fornecedor.home.notFound">No fornecedors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fornecedors && fornecedors.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipoPessoa"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.tipoPessoa">Tipo Pessoa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroCPF"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.numeroCPF">Numero CPF</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroCNPJ"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.numeroCNPJ">Numero CNPJ</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroInscricaoEstadual"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.numeroInscricaoEstadual">Numero Inscricao Estadual</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nomeFantasia"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.nomeFantasia">Nome Fantasia</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefone1"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.telefone1">Telefone 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefone2"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.telefone2">Telefone 2</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="logradouroNome"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.logradouroNome">Logradouro Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="logradouroNumero"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.logradouroNumero">Logradouro Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="logradouroComplemento"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.logradouroComplemento">Logradouro Complemento</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="bairro"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.bairro">Bairro</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cep"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.cep">Cep</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cidade"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.cidade">Cidade</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="observacao"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.observacao">Observacao</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fornecedor of fornecedors ;trackBy: trackId">
                    <td><a [routerLink]="['/fornecedor', fornecedor.id, 'view']">{{ fornecedor.id }}</a></td>
                    <td jhiTranslate="{{ 'clinicaAdaptrojhApp.TipoPessoa.' + fornecedor.tipoPessoa }}">{{ fornecedor.tipoPessoa }}</td>
                    <td>{{ fornecedor.numeroCPF | cpf }}</td>
                    <td>{{ fornecedor.numeroCNPJ | cnpj }}</td>
                    <td>{{ fornecedor.numeroInscricaoEstadual }}</td>
                    <td>{{ fornecedor.nome }}</td>
                    <td>{{ fornecedor.nomeFantasia }}</td>
                    <td>{{ fornecedor.email }}</td>
                    <td>{{ fornecedor.telefone1 | telefone }}</td>
                    <td>{{ fornecedor.telefone2 | telefone }}</td>
                    <td>{{ fornecedor.logradouroNome }}</td>
                    <td>{{ fornecedor.logradouroNumero }}</td>
                    <td>{{ fornecedor.logradouroComplemento }}</td>
                    <td>{{ fornecedor.bairro }}</td>
                    <td>{{ fornecedor.cep | cep }}</td>
                    <td>{{ fornecedor.cidade }}</td>
                    <td jhiTranslate="{{ 'clinicaAdaptrojhApp.Estado.' + fornecedor.estado }}">{{ fornecedor.estado }}</td>
                    <td>{{ fornecedor.observacao }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fornecedor', fornecedor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fornecedor', fornecedor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fornecedor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="fornecedors && fornecedors.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
