<div>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
  
    <!-- Início formulário de busca -->
        <div class="row">
            <div class="col-sm-6">
                <form class="form-inline" name="searchForm" novalidate [formGroup]="searchForm" (ngSubmit)="search()">
                    <!-- Search Radio Fields -->
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchParamRadio" name="searchParamRadio" id="searchParamRadio" value="nome" checked>
                        <label class="form-check-label" for="inlineRadio1">Nome/Razão Social</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchParamRadio" name="searchParamRadio" id="searchParamRadio" value="nomeFantasia">
                        <label class="form-check-label" for="inlineRadio1">Nome Fantasia</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchParamRadio" name="searchParamRadio" id="cpf" value="numeroCPF">
                        <label class="form-check-label" for="inlineRadio2">CPF</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchParamRadio" name="searchParamRadio" id="cnpj" value="numeroCNPJ">
                        <label class="form-check-label" for="inlineRadio2">CNPJ</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" formControlName="searchParamRadio" name="searchParamRadio" id="email" value="email">
                        <label class="form-check-label" for="inlineRadio2">E-mail</label>
                    </div>

<!--                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" formControlName="searchParamCheckAtivo" name="searchParamCheckAtivo" id="inlinecheckbox1" value="ATIVO" checked>
                        <label class="form-check-label" for="inlineRadio3">Ativo</label>
                    </div> -->
                    <!-- currentSearch Input Text Fields -->
                    <div class="input-group w-100 mt-3">
                        <input type="text" class="form-control mr-2" oninput="this.value = this.value.toUpperCase()" required formControlName="valorBusca" id="valorBusca" name="valorBusca" maxlength="60" placeholder="{{ 'entity.action.searchPlaceholder' | translate }}">
                        <button type="submit" class="input-group-append btn btn-info mr-2" >
                            <fa-icon icon="search"></fa-icon>
                        </button>

                        <button class="btn btn-info mr-2" type="button" (click)="onClear()" jhiTranslate="entity.action.clearSearch" >
                            <fa-icon icon="eraser"></fa-icon>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    <br>
    <br>

    <h2 id="page-heading">
        Lista de <span jhiTranslate="clinicaAdaptrojhApp.fornecedor.home.title">Fornecedors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fornecedor" [routerLink]="['/fornecedor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="clinicaAdaptrojhApp.fornecedor.home.createLabel">
            Create a new Fornecedor
            </span>
        </button>
    </h2>

    <div class="alert alert-warning" id="no-result" *ngIf="fornecedors?.length === 0">
        <span jhiTranslate="clinicaAdaptrojhApp.fornecedor.home.notFound">No fornecedors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fornecedors && fornecedors.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th class="text-center" scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="tipoPessoa"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.tipoPessoa">Tipo Pessoa</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nome"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.nome">Nome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="doc">CNPJ/CPF<fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="telefone1"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.telefone1">Telefone 1</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="email"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th class="text-center" scope="col"  jhiSortBy="estado"><span jhiTranslate="clinicaAdaptrojhApp.fornecedor.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>

                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fornecedor of fornecedors ;trackBy: trackId">
                    <td class="align-middle text-center"><a [routerLink]="['/fornecedor', fornecedor.id, 'view']">{{ fornecedor.id }}</a></td>
                    <!--Tipo Pessoa: Nome ou nome fantasia-->
                    <td class="align-middle text-center" jhiTranslate="{{ 'clinicaAdaptrojhApp.TipoPessoa.' + fornecedor.tipoPessoa }}">{{ fornecedor.tipoPessoa }}</td>
                    <td class="align-middle" *ngIf="fornecedor.tipoPessoa!.toString() === 'F'">{{ fornecedor.nome }} <br> {{ fornecedor.nomeFantasia }}</td>
                    <td class="align-middle" *ngIf="fornecedor.tipoPessoa!.toString() === 'J'">{{ fornecedor.nomeFantasia }} <br> {{ fornecedor.nome }}</td>

                    <!--Tipo Pessoa: CPF ou CNPJ-->
                    <td class="align-middle text-center" *ngIf="fornecedor.tipoPessoa!.toString() === 'F'">{{ fornecedor.numeroCPF | cpf }} {{ fornecedor.numeroCNPJ | cnpj }}</td>
                    <td class="align-middle text-center" *ngIf="fornecedor.tipoPessoa!.toString() === 'J'">{{ fornecedor.numeroCNPJ | cnpj }} <br> {{ fornecedor.numeroCPF | cpf }}</td>

                    <td class="align-middle text-center">{{ fornecedor.telefone1 | telefone }} <br> {{ fornecedor.telefone2 | telefone }}</td>
                    <td class="align-middle text-center">{{ fornecedor.email! | lowercase }}</td>
                    <td class="align-middle" jhiTranslate="{{ 'clinicaAdaptrojhApp.Estado2.' + fornecedor.estado }}">{{ fornecedor.estado }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fornecedor', fornecedor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fornecedor', fornecedor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fornecedor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="fornecedors && fornecedors.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
